body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  display: flex;
  flex-direction: column;
  background-color: grey;
  text-align: center;
 
  border: solid black;
  height: 500px;
}
form button{
  width: 80px;
  margin: 20px 300px;
}
label{margin-top: 8px;}
.attr{
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
  display: flex;
  justify-content: space-evenly;
}

#cardRarity{
  margin:20px ;
}

#cardDescri{
  width: 250px;
  height: 60px;
  margin: 10px 0 10px 32%;
}
#cardName{
  margin:10px  32%;
  width: 250px;
}
#firstAtribute,#secondAtribute,#thirdAtribute{
  width: 150px;
  margin: 10px 15px;
}
.filters{
  margin-top: 200px;
  width: 100%;
  background-color: blueviolet;
  
}
.filters label{
  margin:10px 32%;
  display: flex;
}

.card{
  background-color: brown;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-content: space-between;
  max-width: 300px;
  max-height: 600px;
  text-align: center;
}

.card-atts{
  
  background-color: cadetblue;
  
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  
}
.title {

 
  
  background-color: cornflowerblue;
  width: 100%;
  font-size: xx-large;
  
}
.card-image{
  margin: 5% 5%;
 
}
.card-rarity{
  display: flex;
  justify-content: space-around;
  margin-top: 50%;
}
.cards-deck{
  height: auto;
}
.deck{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}