@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

*{
  margin: 0;
}
body {
  
  font-family: Zen Antique;
  color: #171a20da;
  
}
header{
  margin:0 0 70px 0;
  background: linear-gradient(to right, #11998e, #38ef7d);
  height: 80px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #a8ff78, #78ffd6);
  text-align: center;
 font-size: larger;
  box-shadow: 0px 0px 30px -5px rgb(25, 80, 24);
  border-radius: 10px;
  height: 500px;
}
form button{
  width: 80px;
  margin: 20px 300px;
}
form input{
  border-radius: 3px;
}
label{margin-top: 8px;}
.attr{
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 #Input-cardImage,#Input-CardRarity{
  margin: 10px;

}
main{
  display: flex;
  justify-content: space-evenly;
}
#sTrunfo{
  margin: 0 10px;
}
#card-trunfo{
  color: rgb(243, 178, 13);
}

#cardDescri{
  width: 250px;
  height: 60px;
  margin: 10px 0 10px 32%;
}
#cardName{
  margin:10px  32%;
  width: 250px;
}
#firstAtribute,#secondAtribute,#thirdAtribute{
  width: 150px;
  margin: 10px 15px;
}
#input-filter{
  border-radius: 7px;
  width: 250px;
  margin-bottom: 5px;
}
.filters{
  margin: 200px 300px;
  box-shadow: 0px 0px 30px -5px rgb(80, 179, 15);
  border-radius: 10px;
  background: linear-gradient(to right, #11998e, #38ef7d);
  display: flex;
  
}
.filters label{
  padding:20px ;
  
  display: flex;
}
.filters input{
  margin: 7px 0 0 20px;
}
.card{
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-content: space-between;
  width: 330px;
  max-height: 600px;
  text-align: center;
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);
  box-shadow: 0px 0px 30px -5px black;
  border-radius: 10px;
}

.card-atts{
  
  background: linear-gradient(to bottom right, #f12711, #f5af19);
  
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  
}
.title {

 
  
  background: linear-gradient(to bottom right, #f12711, #f5af19);
  width: 100%;
  font-size: xx-large;
  
}
.card-image{
  margin: 5% 5%;
  height: auto; 
  width: auto; 
  max-width: 290px; 
  max-height: 290px;
  border-radius: 7px;
 
}
.card-rarity{
  display: flex;
  justify-content: space-around;
  color: crimson;
  font-size: larger;
  margin-bottom: 10%;
}
.cards-deck{
  height: auto;
}
.card-desc{
  background-color: bisque;
  white-space: normal;
  text-align: center;
  height: 100px;
  display: block;
  overflow-wrap: break-word;
  margin: 10px 50px 30px 50px ;
  border-radius: 7px;
  box-shadow: 0px 0px 30px -5px rgb(185, 168, 148);
 
}
.deck{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards-deck {
  display: flex;
  flex-direction: column;
  
  
}

.cards-deck button{
  width: 50%;
  margin: 10px 80px;
  justify-content: center;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}